.image-list.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.image-list.grid {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;

}
