@import "src/variables";

.image-item.flex {
  width: 160px;
  height: 190px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-grow: 1;

  overflow: hidden;

  .image-item__image.flex {
    padding: 5px;
    border-radius: 10px;
    border: 2px solid $grey-blue-97;
    background: $white;
    box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);

    img {
      width: 150px;
      height: 110px;
      border-radius: 5px;
    }
  }

  .image-item__title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 12px;
    font-weight: 700;
    line-height: 15px;
    color: $grey-blue-60;
  }
}

.image-item.grid {

  .image-item__image.grid {
    img {
      width: 100%;
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    grid-column:  span 6;
    grid-row: 1;
  }

  &:nth-child(3),
  &:nth-child(4),
  &:nth-child(5) {
    grid-column: span 4;
    grid-row: 2;
  }
}
