@import "../../variables";

.search-form {
  width: 430px;
  height: 50px;
  padding: 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
  background: $white;
  box-shadow: 0 2px 5px 0 rgba(38, 51, 77, 0.03);
}

.search-form__input {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;

  img {}

  input {
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
    color: $grey-blue-80;
    font-feature-settings: 'clig' off, 'liga' off;

    &::placeholder {
      color: $grey-blue-80;
    }
  }

  .search-form__input-error {
    width: 350px;
    padding: 10px;
    color: $white;
    border-radius: 5px;
    background: $error;
    display: flex;
    align-items: center;
    position: absolute;
    top: 55px;
    left: 35px;
    z-index: 1;

    &::after {
      content: "";
      width: 20px;
      height: 20px;
      background: $error;
      border-radius: 3px;
      position: absolute;
      left: 25px;
      bottom: 20px;
      transform: rotate(45deg);
      z-index: -1;
    }
  }
}

.search-form__submit {
  background: transparent;
}
